.expressive-code {
  .frame {
    @apply shadow-none!;
  }

  .title {
    font-family:
      "JetBrains Mono Variable", ui-monospace, SFMono-Regular, Menlo, Monaco,
      Consolas, "Liberation Mono", "Courier New", monospace;
  }

  /* Language Badge style adaptation for theme colors and light/dark modes */
  /* Override the default style of the expressive-code-language-badge plugin */
  [data-language]::before {
    color: var(--btn-content) !important;
    background: var(--btn-regular-bg) !important;
  }

  /* Toggle button style adaptation for theme colors and light/dark modes */
  /* Only for the bottom toggle button, do not change header-toggle */
  .ec-collapse__toggle {
    color: var(--btn-content) !important;
    background-color: var(--btn-regular-bg) !important;
    border-color: var(--line-color) !important;
    opacity: var(--opacity-80) !important;

    &:hover {
      background-color: var(--btn-regular-bg-hover) !important;
    }

    &:active {
      background-color: var(--btn-regular-bg-active) !important;
    }
  }
}

/* Code block styles in transparent mode */
body.wallpaper-transparent .expressive-code,
body.wallpaper-transparent .expressive-code *:not(.ec-collapse__toggle) {
  background-color: transparent !important;
  background: transparent !important;
}

body.wallpaper-transparent .expressive-code .frame {
  background-color: var(--card-bg-transparent) !important;
  background: var(--card-bg-transparent) !important;
}

